// Color
$c-white: #fff;
$c-black: #000;
$c-text: #333;

$c-bg: #f5f5f5;
$c-yellow: #ffce1b;
$c-pale-gray: #e7e7e7;
$c-light-gray: #aaa;
$c-gray: #999;
$c-orange: #ff8a00;

// Font size
$fs-tiny: .75em;
$fs-small: .875em;
$fs-normal: 16px;
$fs-big: 1.125em;

// Mixins
@mixin psuedo-element() {
  content: '';
  display: block;
  position: absolute;
}
