doctype html
html
  head
    title= 'Example Title'
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='css/main.css')
  body
    header#header
      .inner
        .left
          img(src='img/logo.png')
          strong duang!
          span 传播神器
        .right
          a.button(href='http://a.app.qq.com/o/simple.jsp?pkgname=cn.rehu.duang') 立即打开
    main#main
      section#topic
        .inner
          .post
            .post--namecard
              img(src='img/avatar.png')
              div
                strong 小鹿
                time 1分钟前
            .post--content
              img(src='img/content.png')
              p 谁家走丢了这么可爱的小猫咪！！！
            .post--meta
              address 厦门市思明区（传播地图）
              .left
                span.button__badge
                  b 258
                  | 评论
              .right
                a.button__badge__share__wechat(href='#') 微信
                a.button__badge__share__moments(href='#') 朋友圈

      section#comments
        .inner
          h2 全部跟帖
          ul
            li
              .post
                .post--namecard
                  img(src='img/avatar.png')
                  div
                    strong 小鹿
                    time 1分钟前
                .post--content
                  video(src='http://7xkyh3.media1.z0.glb.clouddn.com/@/2015/12/23/10/upload_55_07_1450839305762', poster='http://7xijsu.com2.z0.glb.qiniucdn.com/@/2015/12/23/10/upload_55_03_1450839302727', controls='controls')
                  p 我来乱入一下
                //.post--meta
                //  .left
                //    .icon
                //      img(src='img/icon-heart.png')
                //      | 26
                //    .icon
                //      img(src='img/icon-comment.png')
                //      | 25
                //  .right
                //    .icon
                //      img(src='img/icon-more.png')
            li
              .post
                .post--namecard
                  img(src='img/avatar.png')
                  div
                    strong 小鹿
                    time 1分钟前
                .post--content
                  p 继续观望
                //.post--meta
                //  .left
                //    .icon
                //      img(src='img/icon-heart.png')
                //      | 26
                //    .icon
                //      img(src='img/icon-comment.png')
                //      | 25
                //  .right
                //    .icon
                //      img(src='img/icon-more.png')
            li
              .post
                .post--namecard
                  img(src='img/avatar.png')
                  div
                    strong 小鹿
                    time 1分钟前
                .post--content
                  img(src='img/content.png')
                  p 谁说胖纸没有柔软的
                //.post--meta
                //  .left
                //    .icon
                //      img(src='img/icon-heart.png')
                //      | 26
                //    .icon
                //      img(src='img/icon-comment.png')
                //      | 25
                //  .right
                //    .icon
                //      img(src='img/icon-more.png')

          a.button__banner(href='http://a.app.qq.com/o/simple.jsp?pkgname=cn.rehu.duang') 打开热呼，查看全部5条跟帖

      section#related
        .inner
          h2 猜你喜欢
          ul
            li
              a.post__related(href='#')
                img(src='img/related.png')
                div
                  strong 有一种冷叫做爸妈觉得你冷有一种冷叫做爸妈觉得你冷
                  span 海峡导报
            li
              a.post__related(href='#')
                img(src='img/related.png')
                div
                  strong 有一种冷叫做爸妈觉得你冷有一种冷叫做爸妈觉得你冷
                  span 海峡导报

    footer#footer
      .inner
        .left
          img(src='img/avatar.png')
          img(src='img/footer-banner.png')
        .right
          a.button__transparent(href='http://a.app.qq.com/o/simple.jsp?pkgname=cn.rehu.duang') 立即打开

    #mask
        img(src='img/wechat-hint.png')
    script(src='js/main.js')
